@import '../../styles/variables.css';
@import '../../styles/common.css';

.course-details-content {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding: 40px;
    justify-content: center;
    align-self: center;
}

.course-details-back {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.course-details-content-info {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

.course-details-golf-info {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.course-details-holes-info {
    max-width: 580px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 24px;
    background-color: #fff;
    padding: 24px;
    box-sizing: border-box;
}

.course-details-content h1 {
    font-family: Inter, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: left;

    color: #041213;
}