.edit-golf-form {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.edit-golf-address {
    display: flex;
    gap: 16px;
}

.edit-golf-buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;

    padding-top: 8px;
}