.link-button {
    display: flex;
    align-items: center;
    gap: 4px;
    font: 600 14px/20px 'Inter', serif;
    letter-spacing: 0.01em;
    text-align: left;
    color: #296662;
    cursor: pointer;
    text-decoration: none;
}

.link-button:hover {
    text-decoration: underline;
}

.link-button:active {
    color: #004540;
}

.link-button:active svg path {
    fill: #004540;
}