
.action-button {
    color: var(--color-text-primary);
    background: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent-secondary) 100%);
    box-shadow: var(--box-shadow);
    border: 1px solid var(--color-accent);
}

.action-button[disabled] {
    opacity: var(--opacity-disabled);
    cursor: not-allowed;
}

.action-button:hover {
    background: linear-gradient(180deg, var(--color-accent) 0%, var(--color-accent-hover) 100%);
}

.action-button:active {
    background: var(--color-accent);
}