

.display-message-container {
    max-width: 1000px;
    width: 100%;
    display: flex;
    gap: 4px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.display-message-container h4 {
    font: var(--font-weight-extra-bold) var(--font-size-large)/var(--line-height-medium) var(--font-family);
    text-align: center;
    color: var(--color-text-primary);
}

.display-message-container p {
    font: var(--font-weight-regular) var(--font-size-medium)/var(--line-height-medium) var(--font-family);
    letter-spacing: var(--letter-spacing);
    text-align: center;
    color: var(--color-text-secondary);
}