.header-container {
    padding-top: 24px;
    padding-bottom: 80px;
    width: 100%;
    background: linear-gradient(51.94deg, #003D39 12%, #10514C 39%, #033E3A 69%, #003D39 100%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    width: 100%;
    max-width: 1000px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.header-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.header-logos {
    display: flex;
    align-items: center;
    gap: 4px;
}

.header-info button {
    height: 40px;
    border-radius: 99px;
    background: linear-gradient(180deg, #FFD794 0%, #FFCA70 100%);
    box-shadow: 0 3px 8px 0 #0412130A;
}

.header-search-zone {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 32px;
}

.header-title {
    font-family: Inter, serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 40px;
    text-align: center;
    color: #fff;

    margin: 0;
}

.header-logos img {
    height: 20px;
}