@import '../../styles/variables.css';
@import '../../styles/common.css';

.golf-details-cards-container {
    max-width: 400px;
    width: 100%;
    background-color: #fff;
    padding: 24px;
    box-sizing: border-box;

    border-radius: 8px;
    border: 1px solid #E2E8F0;

    display: flex;
    flex-direction: column;
    gap: 32px;
}

.golf-details-card-fields {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.golf-details-cards-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.golf-details-cards-container h2 {
    font-family: Inter, serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
    text-align: left;
}