@import '../../styles/variables.css';
@import '../../styles/common.css';

.course-card-grid-container {
    display: flex;
    justify-content: center;
}

.course-card-grid {
    max-width: 1000px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 40px;
    margin-top: -80px;
    justify-content: center;
}

.course-card-grid.more-than-three {
    justify-content: flex-start;
}

.empty {
    margin-top: 0;
}

@media screen and (max-width: 768px) {
    .course-card-grid {
        padding: 40px 0;
    }
}