@import './styles/variables.css';
@import './styles/common.css';

body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--font-family), serif;
    background: #EDF2F7;
    color: var(--color-text-primary);
}