/* src/index.css */

/* Reset some default browser styles */
body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, figure, figcaption, blockquote, dl, dd {
    margin: 0;
    padding: 0;
}

body {
    font-family: Inter, serif;
    background: #EDF2F7;
    color: #041213;
}