@import '../../styles/variables.css';
@import '../../styles/common.css';

.global-container {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-content: center;
}